tests\*.*
tests/бит.Регламент подготовки и выпуска релизов.7z.001
tests/бит.Регламент подготовки и выпуска релизов.7z.002
tests/бит.Регламент подготовки и выпуска релизов.7z.003
tests/бит.Регламент подготовки и выпуска релизов.7z.004
tests/бит.Регламент подготовки и выпуска релизов.hash
tests/бит.Регламент подготовки и выпуска релизов.split
tests/ТестОбменаСЯдиском.os
