<package-def>
	<class name="ИнструментыСУБД" file="src/Классы/DBTools.os"/>
	<class name="КомандаСправкаПоПараметрам" file="src/Классы/КомандаСправкаПоПараметрам.os"/>
	<class name="КомандаСоздатьРезервнуюКопию" file="src/Классы/КомандаСоздатьРезервнуюКопию.os"/>
	<class name="КомандаВосстановитьИзРезервнойКопии" file="src/Классы/КомандаВосстановитьИзРезервнойКопии.os"/>
	<class name="КомандаВыгрузитьИБВФайл" file="src/Классы/КомандаВыгрузитьИБВФайл.os"/>
	<class name="КомандаЗагрузитьИБИзФайла" file="src/Классы/КомандаЗагрузитьИБИзФайла.os"/>
	<class name="КомандаПоместитьФайлВЯДиск" file="src/Классы/КомандаПоместитьФайлВЯДиск.os"/>
	<class name="КомандаПолучитьФайлИзЯДиска" file="src/Классы/КомандаПолучитьФайлИзЯДиска.os"/>
	<class name="КомандаПодключитьСетевойДиск" file="src/Классы/КомандаПодключитьСетевойДиск.os"/>
	<class name="КомандаОтключитьСетевойДиск" file="src/Классы/КомандаОтключитьСетевойДиск.os"/>
	<class name="КомандаКопироватьФайл" file="src/Классы/КомандаКопироватьФайл.os"/>
	<class name="КомандаОтключитьОтХранилища" file="src/Классы/КомандаОтключитьОтХранилища.os"/>
	<class name="КомандаПодключитьКХранилищу" file="src/Классы/КомандаПодключитьКХранилищу.os"/>
	<module name="МенеджерКомандПриложения" file="src/Модули/МенеджерКомандПриложения.os"/>
	<module name="ЗапускПриложений" file="src/Модули/ЗапускПриложений.os"/>
</package-def>