<package-def>
	<class name="ИнструментыСУБД" file="src/core/Классы/ИнструментыСУБД.os"/>
	<class name="КомандаВыполнитьПакет" file="src/cmd/Классы/КомандаВыполнитьПакет.os"/>
	<class name="КомандаРаботаССУБД" file="src/cmd/Классы/КомандаРаботаССУБД.os"/>
	<class name="КомандаВыполнитьСкрипты" file="src/cmd/Классы/КомандаВыполнитьСкрипты.os"/>
	<class name="КомандаСоздатьРезервнуюКопию" file="src/cmd/Классы/КомандаСоздатьРезервнуюКопию.os"/>
	<class name="КомандаВосстановитьИзРезервнойКопии" file="src/cmd/Классы/КомандаВосстановитьИзРезервнойКопии.os"/>
	<class name="КомандаВыполнитьКомпрессиюСтраниц" file="src/cmd/Классы/КомандаВыполнитьКомпрессиюСтраниц.os"/>
	<class name="КомандаРаботаСИБ" file="src/cmd/Классы/КомандаРаботаСИБ.os"/>
	<class name="КомандаСоздатьСервернуюИБ" file="src/cmd/Классы/КомандаСоздатьСервернуюИБ.os"/>
	<class name="КомандаВыгрузитьИБВФайл" file="src/cmd/Классы/КомандаВыгрузитьИБВФайл.os"/>
	<class name="КомандаЗагрузитьИБИзФайла" file="src/cmd/Классы/КомандаЗагрузитьИБИзФайла.os"/>
	<class name="КомандаОтключитьОтХранилища" file="src/cmd/Классы/КомандаОтключитьОтХранилища.os"/>
	<class name="КомандаПодключитьКХранилищу" file="src/cmd/Классы/КомандаПодключитьКХранилищу.os"/>
	<class name="КомандаРаботаСФайлами" file="src/cmd/Классы/КомандаРаботаСФайлами.os"/>
	<class name="КомандаКопироватьФайл" file="src/cmd/Классы/КомандаКопироватьФайл.os"/>
	<class name="КомандаРазбитьФайлНаЧасти" file="src/cmd/Классы/КомандаРазбитьФайлНаЧасти.os"/>
	<class name="КомандаСоединитьЧастиВФайл" file="src/cmd/Классы/КомандаСоединитьЧастиВФайл.os"/>
	<class name="КомандаПоместитьФайлВЯДиск" file="src/cmd/Классы/КомандаПоместитьФайлВЯДиск.os"/>
	<class name="КомандаПолучитьФайлИзЯДиска" file="src/cmd/Классы/КомандаПолучитьФайлИзЯДиска.os"/>
	<class name="КомандаПодключитьСетевойДиск" file="src/cmd/Классы/КомандаПодключитьСетевойДиск.os"/>
	<class name="КомандаОтключитьСетевойДиск" file="src/cmd/Классы/КомандаОтключитьСетевойДиск.os"/>
	<module name="ПараметрыПриложения" file="src/cmd/Модули/ПараметрыПриложения.os"/>
	<module name="МенеджерКомандПриложения" file="src/cmd/Модули/МенеджерКомандПриложения.os"/>
	<module name="ЗапускПриложений" file="src/cmd/Модули/ЗапускПриложений.os"/>
	<module name="ЧтениеСценариев" file="src/cmd/Модули/ЧтениеСценариев.os"/>
</package-def>