<package-def>
	<class name="ПодключениеКСУБД" file="src/core/Классы/ПодключениеКСУБД.os"/>
	<class name="РаботаССУБД" file="src/core/Классы/РаботаССУБД.os"/>
	<class name="РаботаСNextCloud" file="src/core/Классы/РаботаСNextCloud.os"/>
	<class name="РаботаССерверомSSH" file="src/core/Классы/РаботаССерверомSSH.os"/>
	<module name="ПараметрыСистемы" file="src/core/Модули/ПараметрыСистемы.os"/>
	<module name="РаботаСИБ" file="src/core/Модули/РаботаСИБ.os"/>
	<module name="РаботаСФайлами" file="src/core/Модули/РаботаСФайлами.os"/>

	<class name="КомандаВыполнитьПакет" file="src/cmd/Классы/КомандаВыполнитьПакет.os"/>

	<class name="КомандыРаботыССУБД" file="src/cmd/Классы/КомандыРаботыССУБД.os"/>
	<class name="КомандаВыполнитьСкрипты" file="src/cmd/Классы/КомандаВыполнитьСкрипты.os"/>
	<class name="КомандаСоздатьБазуДанных" file="src/cmd/Классы/КомандаСоздатьБазуДанных.os"/>
	<class name="КомандаУдалитьБазуДанных" file="src/cmd/Классы/КомандаУдалитьБазуДанных.os"/>
	<class name="КомандаСоздатьРезервнуюКопию" file="src/cmd/Классы/КомандаСоздатьРезервнуюКопию.os"/>
	<class name="КомандаВосстановитьИзРезервнойКопии" file="src/cmd/Классы/КомандаВосстановитьИзРезервнойКопии.os"/>
	<class name="КомандаВыполнитьКомпрессиюСтраниц" file="src/cmd/Классы/КомандаВыполнитьКомпрессиюСтраниц.os"/>

	<class name="КомандыРаботыСИБ" file="src/cmd/Классы/КомандыРаботыСИБ.os"/>
	<class name="КомандаСоздатьСервернуюИБ" file="src/cmd/Классы/КомандаСоздатьСервернуюИБ.os"/>
	<class name="КомандаВыгрузитьИБВФайл" file="src/cmd/Классы/КомандаВыгрузитьИБВФайл.os"/>
	<class name="КомандаЗагрузитьИБИзФайла" file="src/cmd/Классы/КомандаЗагрузитьИБИзФайла.os"/>
	<class name="КомандаОчиститьЛокальныйКэшИБ" file="src/cmd/Классы/КомандаОчиститьЛокальныйКэшИБ.os"/>
	<class name="КомандаОтключитьОтХранилища" file="src/cmd/Классы/КомандаОтключитьОтХранилища.os"/>
	<class name="КомандаПодключитьКХранилищу" file="src/cmd/Классы/КомандаПодключитьКХранилищу.os"/>

	<class name="КомандыРаботыСФайлами" file="src/cmd/Классы/КомандыРаботыСФайлами.os"/>
	<class name="КомандаКопироватьФайл" file="src/cmd/Классы/КомандаКопироватьФайл.os"/>
	<class name="КомандаРазбитьФайлНаЧасти" file="src/cmd/Классы/КомандаРазбитьФайлНаЧасти.os"/>
	<class name="КомандаСоединитьЧастиВФайл" file="src/cmd/Классы/КомандаСоединитьЧастиВФайл.os"/>
	<class name="КомандаПодключитьСетевойДиск" file="src/cmd/Классы/КомандаПодключитьСетевойДиск.os"/>
	<class name="КомандаОтключитьСетевойДиск" file="src/cmd/Классы/КомандаОтключитьСетевойДиск.os"/>

	<class name="КомандыРаботыСЯндехДиск" file="src/cmd/Классы/КомандыРаботыСЯндехДиск.os"/>
	<class name="КомандаПоместитьФайлВЯДиск" file="src/cmd/Классы/КомандаПоместитьФайлВЯДиск.os"/>
	<class name="КомандаПолучитьФайлИзЯДиска" file="src/cmd/Классы/КомандаПолучитьФайлИзЯДиска.os"/>

	<class name="КомандыРаботыСNextCloud" file="src/cmd/Классы/КомандыРаботыСNextCloud.os"/>
	<class name="КомандаПоместитьФайлВNextCloud" file="src/cmd/Классы/КомандаПоместитьФайлВNextCloud.os"/>
	<class name="КомандаПолучитьФайлИзNextCloud" file="src/cmd/Классы/КомандаПолучитьФайлИзNextCloud.os"/>

	<class name="КомандыРаботыСSFTP" file="src/cmd/Классы/КомандыРаботыСSFTP.os"/>
	<class name="КомандаПоместитьФайлНаSFTP" file="src/cmd/Классы/КомандаПоместитьФайлНаSFTP.os"/>
	<class name="КомандаПолучитьФайлСSFTP" file="src/cmd/Классы/КомандаПолучитьФайлСSFTP.os"/>

	<module name="ЧтениеОпцийКоманды" file="src/cmd/Классы/ЧтениеОпцийКоманды.os"/>
</package-def>