<package-def>
	<class name="ИнструментыСУБД" file="Классы/DBTools.os"/>
	<class name="КомандаСправкаПоПараметрам" file="Классы/КомандаСправкаПоПараметрам.os"/>
	<class name="КомандаСоздатьРезервнуюКопию" file="Классы/КомандаСоздатьРезервнуюКопию.os"/>
	<class name="КомандаВосстановитьИзРезервнойКопии" file="Классы/КомандаВосстановитьИзРезервнойКопии.os"/>
	<class name="КомандаПоместитьФайлВЯДиск" file="Классы/КомандаПоместитьФайлВЯДиск.os"/>
	<class name="КомандаПолучитьФайлИзЯДиска" file="Классы/КомандаПолучитьФайлИзЯДиска.os"/>
	<module name="МенеджерКомандПриложения" file="Модули/МенеджерКомандПриложения.os"/>
</package-def>