<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">
	<class name="ПодключениеMSSQL" file="core/Классы/ПодключениеMSSQL.os"/>
	<class name="РаботаССУБД" file="core/Классы/РаботаССУБД.os"/>
	<class name="СтруктураХраненияИБ" file="core/Классы/СтруктураХраненияИБ.os"/>
	<class name="РаботаСЯндексДиск" file="core/Классы/РаботаСЯндексДиск.os"/>
	<class name="РаботаСNextCloud" file="core/Классы/РаботаСNextCloud.os"/>
	<class name="РаботаССерверомSSH" file="core/Классы/РаботаССерверомSSH.os"/>
	<class name="ОписаниеПакета" file="core/Классы/ОписаниеПакета.os"/>
	<module name="ПараметрыСистемы" file="core/Модули/ПараметрыСистемы.os"/>
	<module name="РаботаСИБ" file="core/Модули/РаботаСИБ.os"/>
	<module name="РаботаСФайлами" file="core/Модули/РаботаСФайлами.os"/>
</package-def>