<package-def>
	<class name="ИнструментыСУБД" file="Классы/DBTools.os"/>
	<class name="КомандаСправкаПоПараметрам" file="Классы/КомандаСправкаПоПараметрам.os"/>
	<class name="КомандаСоздатьРезервнуюКопию" file="Классы/КомандаСоздатьРезервнуюКопию.os"/>
	<class name="КомандаВосстановитьИзРезервнойКопии" file="Классы/КомандаВосстановитьИзРезервнойКопии.os"/>
	<class name="КомандаВыгрузитьИБВФайл" file="Классы/КомандаВыгрузитьИБВФайл.os"/>
	<class name="КомандаЗагрузитьИБИзФайла" file="Классы/КомандаЗагрузитьИБИзФайла.os"/>
	<class name="КомандаПоместитьФайлВЯДиск" file="Классы/КомандаПоместитьФайлВЯДиск.os"/>
	<class name="КомандаПолучитьФайлИзЯДиска" file="Классы/КомандаПолучитьФайлИзЯДиска.os"/>
	<class name="КомандаОтключитьОтХранилища" file="Классы/КомандаОтключитьОтХранилища.os"/>
	<class name="КомандаПодключитьКХранилищу" file="Классы/КомандаПодключитьКХранилищу.os"/>
	<module name="МенеджерКомандПриложения" file="Модули/МенеджерКомандПриложения.os"/>
	<module name="ЗапускПриложений" file="Модули/ЗапускПриложений.os"/>
</package-def>